.header {
    background-image: linear-gradient( to bottom right, rgba($color-white, .8), rgba($color-primary-dark, 0.8)), url(../img/dental-chair.jpg);
    background-size: cover;
    background-position: top;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    &__logo-box {
        padding: 3rem;
    }
    &__logo {
        color: $color-primary;
        width: 8rem;
    }
    &__text-box {
        text-align: center;
    }
}